In [54]:
db_list = [
"db_prod_prime_2019_01_01",
"db_prod_prime_2019_01_29",
"db_prod_prime_2019_01_22",
"db_prod_prime_2019_01_25",
"db_prod_prime_2019_01_19",
"db_prod_prime_2019_01_14",
"db_prod_prime_2019_01_09",
"db_prod_prime_2019_01_08",
"db_prod_prime_2019_01_07",
"db_prod_prime_2019_01_05",
"db_prod_prime_2019_01_04",
"db_prod_prime_2019_01_02",
"db_prod_prime_2019_01_15",
"db_prod_prime",
"db_prod_prime_2019_01_13",
"db_prod_prime_2019_01_16",
"data_module_db_prod_prime_2019_01_16",
"db_prod_prime_2019_01_12"]

In [55]:
database = "db_prod_prime"
match = [s for s in db_list if s.startswith(database)]

In [56]:
match.sort(reverse=True)
match

['db_prod_prime_2019_01_29',
 'db_prod_prime_2019_01_25',
 'db_prod_prime_2019_01_22',
 'db_prod_prime_2019_01_19',
 'db_prod_prime_2019_01_16',
 'db_prod_prime_2019_01_15',
 'db_prod_prime_2019_01_14',
 'db_prod_prime_2019_01_13',
 'db_prod_prime_2019_01_12',
 'db_prod_prime_2019_01_09',
 'db_prod_prime_2019_01_08',
 'db_prod_prime_2019_01_07',
 'db_prod_prime_2019_01_05',
 'db_prod_prime_2019_01_04',
 'db_prod_prime_2019_01_02',
 'db_prod_prime_2019_01_01',
 'db_prod_prime']

In [57]:
match = match[:-1]
match

['db_prod_prime_2019_01_29',
 'db_prod_prime_2019_01_25',
 'db_prod_prime_2019_01_22',
 'db_prod_prime_2019_01_19',
 'db_prod_prime_2019_01_16',
 'db_prod_prime_2019_01_15',
 'db_prod_prime_2019_01_14',
 'db_prod_prime_2019_01_13',
 'db_prod_prime_2019_01_12',
 'db_prod_prime_2019_01_09',
 'db_prod_prime_2019_01_08',
 'db_prod_prime_2019_01_07',
 'db_prod_prime_2019_01_05',
 'db_prod_prime_2019_01_04',
 'db_prod_prime_2019_01_02',
 'db_prod_prime_2019_01_01']

In [58]:
length = len(match)
length

16

In [59]:
delete_list = list()
if length > 9:
    delete_list = match[9:]
delete_list

['db_prod_prime_2019_01_09',
 'db_prod_prime_2019_01_08',
 'db_prod_prime_2019_01_07',
 'db_prod_prime_2019_01_05',
 'db_prod_prime_2019_01_04',
 'db_prod_prime_2019_01_02',
 'db_prod_prime_2019_01_01']

In [1]:
import psycopg2
import pandas as pd

def postgressql_connection(host, port, database, user, password):
    conn = psycopg2.connect(host=host, port=port, database=database, user=user, password=password)
    return conn

def create_pandas_table(sql_query, database_connection):
    # A function that takes in a PostgreSQL query and outputs a pandas database
    table = pd.read_sql_query(sql_query, database_connection)
    return table

In [2]:
conn = postgressql_connection(host="localhost", port=5432, database="sparkstreamingdb", user="sparkstreaming", password="sparkstreaming")

In [34]:
df = create_pandas_table("select * from trending_hashtags", database_connection=conn)

In [35]:
df = df.sort_values(["count"], ascending=0)
df = df[df["hashtag"] != "no tags"]
df = df.iloc[:20]
df

                   hashtag  count
34          #DelhiViolence    545
35                 #Muslim    485
36                    #RSS    483
37                 #Modi’s    473
38             '#Viswasam'    433
39      #27Feb_SurpriseDay    429
40                  #India    332
41            #WeSaidWeDid    249
42                 #Sarkar    224
43           #TahirHussain    209
44        #ShameOnYouIndia    206
10            #SurpriseDay    205
11                 #India,    200
12                 #Delhi.    182
13            #SoniaGandhi    173
14                    #OIC    163
15  #HappySurpriseDayIndia    156
16         #DelhiHighCourt    139
17            #RahulGnadhi    127
19                  #Delhi    126

In [7]:
import plotly
import plotly.graph_objs as go
from plotly.offline import *

In [8]:
!pip install plotly

Requirement already satisfied: plotly in /opt/envs/aie/lib/python3.7/site-packages (4.5.2)
Requirement already satisfied: six in /opt/envs/aie/lib/python3.7/site-packages (from plotly) (1.14.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/envs/aie/lib/python3.7/site-packages (from plotly) (1.3.3)

In [36]:
plotly.offline.plot([go.Bar(x=df["hashtag"], y=df["count"],name='TrendingTags')])

'temp-plot.html'